@import url(tango.css);
@import url(theorem.css);

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p, ul, ol {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.center-figure {
    margin: auto;
    display: block;
    text-align: center;
}

.center-video {
    margin: auto;
    display: block;
}

tr {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

td, th {
    padding-right: 1em;
}

.footnotes p {
    font-size: 1em;
}

pre {
    overflow-x: auto;
    padding: 10px;
    border: 1px solid #aaa
}
