@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html {
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

:root {
    --large-breakpoint: 64em;
    --medium-breakpoint: 42em;

    --header-heading-color: #fff;
    --header-bg-color: #159957;
    --header-bg-color-secondary: #155799;

    --section-headings-color: #159957;
    --body-text-color: #606c71;
    --body-link-color: #1e6bb8;
    --blockquote-text-color: #819198;

    --code-bg-color: #f3f6fa;
    --code-text-color: #567482;

    --border-color: #dce6f0;
    --table-border-color: #e9ebec;
    --hr-border-color: #eff0f1;
}

/* Small Screen */
@media (max-width: 1000px) {
    body.noscroll {
        overflow: hidden;
    }

    .page-header {
        position: sticky;
        height: 60px;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1;
    }

    .sidebar {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        padding-left: 25px;
        z-index: 1;
        overflow-y: auto;
    }

    .sidebar.hidden {
        display: none;
    }

    .main-content {
        margin-top: 60px;
    }

    .main-content h1,
    .main-content h2 {
        scroll-margin-top: 60px;
    }
}

/* Medium Screen
@media (min-width: 700px) {
    .page-header {
        grid-area: header;
    }

    .main-content {
        grid-area: content;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main-footer {
        grid-area: footer;
    }

    .wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
        grid-template-areas:
            "header header"
            "sidebar content"
            ".   footer";
    }

    .sidebar {
        display: block;
        position: sticky;
        top: 0;
        align-self: start;
    }

    .hamburger {
        display: none;
    }
} */

/* Large Screen */
@media (min-width: 1000px) {
    /* .wrapper {
        display: grid;
        gap: 20px;
        max-width: 1400px;
        margin: auto;
        grid-template-columns: 2fr 6fr 1fr;
        justify-content: center;
        grid-template-areas:
            "header header header"
            "sidebar content ."
            "footer   footer footer";
    } */
    
    .page-wrapper {
        max-width: 1300px;
        margin: auto;
    }
    .content-wrapper {
        display: flex;
    }

    .sidebar {
        display: block;
        flex: 1 1 0;
        position: sticky;
        top: 0;
        align-self: start;
        max-height: 100vh;
        overflow-y: auto;
    }

    .main-content {
        flex: 3 3 0;
    }

    .hamburger {
        display: none;
    }
}

.page-header {
    display: flex;
    justify-content: left;
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: right;
    list-style-type: none;
}

code,
pre {
    font-family: monospace, monospace;
}

code {
    color: var(--code-text-color);
    background-color: var(--code-bg-color);
    border-radius: 0.3rem;
}

pre {
    background-color: var(--code-bg-color);
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
    overflow: auto;
}

.table-wrapper {
    overflow: auto;
}

.MJXc-display {
    overflow: auto;
}

.main-content img {
    width: 100%;
}

.primary-contents-list,
.secondary-contents-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.primary-contents-list {
    padding-left: 0;
}

.secondary-contents-list {
    padding-top: 10px;
    padding-left: 15px;
}

.primary-contents-list,
.secondary-contents-list {
    a {
        color: #36c;
        text-decoration: none;
        margin-bottom: 10px;
    }

    a:hover {
        text-decoration: underline;
    }
}

li.toc-primary-active>a {
    color: black;
}

li.toc-active>a {
    font-weight: bold;
    color: black;
}
