.definition {
    display: block;
    font-size: 1.5em;
    font-style: italic;
}

.definition_header {
    font-weight: bold;
    font-style: normal;
}

.theorem {
    display: block;
    font-size: 1.5em;
}

.theorem_header {
    font-weight: bold;
    font-style: normal;
}