---
---

$section-headings-color: #0b3541 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.page-header {
    color: white;
    background-color: #0b3541;
    padding: 0em;
    background-image: none;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-weight: bold;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
