<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta charset="UTF-8">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
		type="text/css" crossorigin>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/rouge.css">
	<link rel="stylesheet" href="/css/style.css">
	{% include analytics.html %}
</head>

<body>
	<div class="wrapper">
		<header class="page-header">
			<ul class="navigation">
				<li><a href="/">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</header>

		<div class="toc"> Contents </div>

		<div class="main-content">
			{{ content }}
		</div>

		<footer class="main-footer">
			<span class="site-footer-owner">
				<a href="mailto:lowdanie@gmail.com">email</a>
				<a href="github.com/lowdanie">github.com/lowdanie</a>
			</span>
		</footer>
	</div>
</body>

</html>